body {
    text-align: center;
    align-items: center;
}

#carrusel {
    width: 10em;
    background-image: url(/handcell.png);
    background-size: 10em;
    align-items: center;
}

#carrusel img {
    width: 25%;
    padding: 58% 0;
}